extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  //- section.page-header
  //-   h1 Colors&Types
  section.page-colors
    section.main-colors
      img.logo(src='../../img/logo.svg' alt='')
      .colors
        .color
          .color-sample.darkshade100
          .color-description
            .color-name 
              h2 Dark Shade 100%
            .color-code #1F2041
        .color
          .color-sample.darkshade75
          .color-description
            .color-name
              h2 Dark Shade 75%
            .color-code #1F2041
        .color
          .color-sample.darkshade50
          .color-description
            .color-name
              h2 Dark Shade 50%
            .color-code #1F2041
        .color
          .color-sample.darkshade25
          .color-description
            .color-name
              h2 Dark Shade 25%
            .color-code #1F2041
        .color
          .color-sample.darkshade5
          .color-description
            .color-name
              h2 Dark Shade 5%
            .color-code #1F2041
        .color
          .color-sample.purple
          .color-description
            .color-name
              h2 Purple
            .color-code #BC9CFF
        .color
          .color-sample.green
          .color-description
            .color-name
              h2 Green
            .color-code #6FCF97
      .fonts
        .font-sample-wrapper
          .font-type
            h1 H1
          .font-sample-h1
            h1 This one is the sub-section or widget title
        .font-sample-wrapper
          .font-type
            h2 H2
          .font-sample-h2
            h2 Next one is the item title inside widgets
        .font-sample-wrapper
          .font-type
            h3 H3
          .font-sample
            h3 This is a label or CTA text
        .font-sample-wrapper
          .font-type Body
          .font-sample-body
            | This is the body text which is used for most of the design, like paragraphs, lists, etc.

  section.page-header
    h1 Form elements
  section.page-form-elements
    img.logo(src='../../img/logo.svg' alt='')
    .column
      form(action='')
        label(for='email')
          h3 TEXT FIELD
        input.textfield(type='text' placeholder='Email' name='email' id='')
      form(action='')
        .input-label
          h3 DROP DOWN
        .guests-dropdown
          .guests-dropdown-text Сколько гостей?
          img(src='../../img/expand_more.svg' alt='')
        .dropdown-content
          .guests-input-wrapper
            .guests-input-caption
              label(for='adults')
              h3 Взрослые
            .number-input-wrapper
              button.minus-adults(disabled='') -
              h3.counter-adults 0
              input.input-adults(type='hidden' name='adults')
              button.plus-adults +
          .guests-input-wrapper
            .guests-input-caption
              label(for='childs')
              h3 Дети
            .number-input-wrapper
              button.minus-childs(disabled='') -
              h3.counter-childs 0
              input.input-childs(type='hidden' name='adults')
              button.plus-childs +
          .guests-input-wrapper
            .guests-input-caption
              label(for='infants')
              h3 Младенцы
            .number-input-wrapper
              button.minus-infants(disabled='') -
              h3.counter-infants 0
              input.input-infants(type='hidden' name='adults')
              button.plus-infants +
          .guests-input-buttons
            button.guests-clear-button.hidden
              h3 Очистить
            button.guests-apply-button
              h3 Применить
    .column
    .column


  section.page-header
    h1 Cards
  section.page

  section.page-header
    h1 Headers&Footers
  section.page


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }