@import "reset";
@import "mixins";
@import "fonts";
@import "vars";
@import "settings";

@import "colors-fonts";
@import "form-elements";

section.page-header {
  background: rgb(29, 29, 29);
  margin: 0;
  
  h1 {
    color: white;
    margin: 0;
  }
}

